.App {
  margin: 0;
  color: #707070;
  font-family: "Ubuntu", sans-serif;
}

/* ========
Typography
========== */


h1 {
  margin:0;
  font-family: 'Playfair Display', serif;
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
}

h3 {
  color: black;
  font-size: 1.2rem;
  padding: .25em;
}

.subtitle {
  margin: 0;
  font-weight: 700;
}

p {
  margin: 0;
}

/* =======
Layout
======== */
.container {
  width:100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}

.search-container {
  margin-bottom: 2em;
}

/* movie card */
.movie-card {
  width: 100%;
  margin-bottom: 2em;
  border: 1px solid #707070;
  margin: 2em auto;
  /* margin: 2em, 1em; */
  padding: 1em;
  box-shadow: 1px 1px 1px #707070;
}

.movie-content {
  display: flex;
  align-items:flex-start;
}

.movie-poster {
  width: 25%;
  margin-top:.25em;
}

.poster-image {
  width: 100%;
  max-width: 300px;
}

.movie-info {
  margin-left: .5em;
  width: 70%
}

.movie-title{
  text-align: center;
  border-bottom: 2px solid #707070;
  margin-left: .5em;
  margin-bottom: 1em;
  font-weight: 900;
}

.image {
  width: 100%
}

/* .card {
  margin-bottom: 3em;
  max-width: 600px;
} */

.about-container {
  display: flex;
  flex-direction: column;
}

.about-image-section {
  width: 100%;
  margin-bottom: 1em;
}

.about-image {
  width: 100%;
}

.about-info {
  padding: 1em;
}

/* Navigation */
.title{
  padding: .5em;
}

.nav-container {
  background-color:black;
  text-align: center;
  margin: 0;
  padding-top: 1em;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  margin-right: 1em;
  color: red;
  font-size: 1.125rem;
  margin-bottom: .75em;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;  
}

/* Search Form */

.search-bar {
  margin-right: 2em;
}

input {
  padding: .25em;
  width: 75%;
}

.btn:hover,
.btn:focus{
  background-color:red;
}

@media (min-width: 600px){
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .title {
    padding: 2em;
  }

  .nav-links {
    padding: 2em;
  }

  .about-container {
    flex-direction: row;
    padding: 1.5em;
    max-width: 1000px;
    margin: 0 auto;
  }

}